body {
    font-family: Arial, sans-serif;
    background-color: #ccf8cc;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #2c7a3f;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
