

/* Delete Button */
 button.delete {
    background-color: #f44336;
    color: white;
} 

/* Modal Styling */
 .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}

.modal-content input, 
.modal-content select {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
} 

/* Modal Buttons */
 .modal-content button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.modal-content button.save {
    background-color: #008CBA;
    color: white;
}

.modal-content button.cancel {
    background-color: #ddd;
}  
 .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 80vh;
    overflow-y: auto;
    width: 80%;
}
.modal-content {
    display: flex;
    flex-direction: column; 
 } 

 .logo {
    width: 200px; /* Adjust size as needed */
    height: 150px; /* Maintain aspect ratio */
    display: block;
    position: absolute;
    top: 10px; /* Adjust distance from the top */
    left: 80px; /* Adjust distance from the left */
    /* z-index: 10;   */
    

}


.dashboard-btn {
    padding: 10px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 600px;
}

.dashboard-btn:hover {
    background-color: #45a049;
}
 
